header {
   min-height: 100vh;
   width: 100%;

   background: #093028; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to right,
      #237a57,
      #093028
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #237a57,
      #093028
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.weather-wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   width: 100%;
   // background-color: #768ad4;
   
}

.morning-text {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
   color:#f4f4f4;
   font-family: $light-heading-font;
   font-size: 2.2vw;
   padding: 1.2em;
   font-weight: lighter;
   border-radius: 30px;
   // mix-blend-mode: screen;

   .btn{
      font-family: $heading-font;
      text-transform: capitalize;
      background-color: #e1e1e1;
      text-decoration: none;
      font-size: 1.6vw;
      color: black;
      border-radius: 30px;
      margin-top: 1em;
      padding: 0.7em;
   }

}

.weather-app-wrapper {
   display: block;
   width: 300px;
   margin-top: 1em;
   background-color: #fff;
   border-radius: 10px;
   padding-bottom: 50px;
   font-family: $heading-font;
}

.app-title {
   width: 300px;
   height: 50px;
   border-radius: 10px 10px 0 0;

   & p {
      text-align: center;
      padding: 15px;
      margin: 0 auto;
      font-size: 1.2em;
      color: #293251;
   }
}

.notification {
   background-color: #f8d7da;
   display: none;

   & p {
      color: #721c24;
      font-size: 1.2em;
      margin: 0;
      text-align: center;
      padding: 10px 0;
   }
}

.weather-container {
   width: 300px;
   height: 260px;
   background-color: #f4f9ff;

   .weather-icon {
      width: 300px;
      height: 128px;

      & img {
         display: block;
         margin: 0 auto;
      }
   }
}

.temp-value {
   width: 300px;
   height: 60px;

   & p {
      padding: 0;
      margin: 0;
      color: #293251;
      font-size: 4em;
      text-align: center;
      cursor: pointer;

      &:hover {
         color: #57669b;
      }
   }

   & span {
      color: #293251;
      font-size: 0.5em;
   }
}

.temp-desc p {
   padding: 8px;
   margin: 0;
   color: #293251;
   text-align: center;
   font-size: 1.2em;
}

.location p {
   margin: 0;
   padding: 0;
   color: #293251;
   text-align: center;
   font-size: 0.8em;
}

@media only screen and ( max-width: 600px){
   header{
      height: 105vh;
   }
   .weather-app-wrapper{
      width: 250px;
      // padding-bottom: 3em;
      
   }

   .app-title{
      width: 250px;
      & p{
         font-size: 1em;
      }
   }

   .notification{

      & p{
         font-size: 1em;
      }
   }

   .weather-container{
      width: 250px;

      .weather-icon{
         width: 250px;
      }
   }
   
   .temp-value{
      width: 250px;

      & p{
         font-size: 3em;
      }
   }

   .temp-desc p {
      font-size: 0.8em;
   }



 
   .morning-text{
      padding: 0.8em;
      font-size: 1rem;

      .btn{
         font-size: 0.6rem;
         display: inline-block;
         width: 100%;
         text-align: center;
      }
   }





}


@media ( min-width: 600px) and (max-width:885px){
   .morning-text{
      padding: 0.8em;
      font-size: 1.2rem;

      .btn{
         font-size: 1.5vw;
         display: inline-block;
         width: 100%;
         text-align: center;
      }
   }
}